target/classes/application.properties
target/classes/com/hdjx/hdjx/HdjxApplication.class
target/classes/com/hdjx/hdjx/controller/SchoolController.class
target/classes/com/hdjx/hdjx/dao/SchoolDao.class
target/classes/com/hdjx/hdjx/entity/SchoolEntity.class
target/test-classes/com/hdjx/hdjx/HdjxApplicationTests.class
